.header
  .header__content
    .header__content__logo
      Pokeca図鑑
    .header__content__search
  .header__nav
    %ul
      %li
        キーワードで探す
      %li
        拡張BOXから探す
      %li
        いいね一覧
      %li
        新着情報
      %li
        ログイン
      %li
        新規登録
.main__content
  .main__content__top
    %image_tag 
  .main__content__middle
    .main__content__middle--items
      いいねしたカード
      %ul
        %li
          item1
        %li
          item2
        %li
          item3
        %li
          item4
        %li
          item5
  .main__content__category
    人気カテゴリー
    %ul
      %li
        ファーストBOX
      %li
        セカンドBOX
      %li
        サードBOX
  .main__content__bottom
    .main__content__bottom--items
      いいねしたカード
      %ul
        %li
          item1
        %li
          item2
        %li
          item3
        %li
          item4
        %li
          item5
.footer
